
@page "/tables/table-test"
@using System.IO;
@using System.Net.Http.Json
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime;
@inject HttpClient Http

@if (sampleData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table id="tabletest">
        <thead>
            <tr>
                <th> RecordID </th>
                <th> OrderID </th>
                <th> Country </th>
                <th> ShipCountry </th>
                <th> ShipCity </th>
                <th> ShipName </th>
                <th> ShipAddress </th>
                <th> CompanyEmail </th>
                <th> CompanyAgent </th>
                <th> CompanyName </th>
                <th> Currency </th>
                <th> Notes </th>
                <th> Department </th>
                <th> Website </th>
                <th> Latitude </th>
                <th> Longitude </th>
                <th> ShipDate </th>
                <th> PaymentDate </th>
                <th> TimeZone </th>
                <th> TotalPayment </th>
                <th> Gender </th>
                <th> Status </th>
                <th> Type </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in sampleData)
            {
                <tr>
                    <td> @x.RecordID </td>
                    <td> @x.OrderID </td>
                    <td> @x.Country </td>
                    <td> @x.ShipCountry </td>
                    <td> @x.ShipCity </td>
                    <td> @x.ShipName </td>
                    <td> @x.ShipAddress </td>
                    <td> @x.CompanyEmail </td>
                    <td> @x.CompanyAgent </td>
                    <td> @x.CompanyName </td>
                    <td> @x.Currency </td>
                    <td> @x.Notes </td>
                    <td> @x.Department </td>
                    <td> @x.Website </td>
                    <td> @x.Latitude </td>
                    <td> @x.Longitude </td>
                    <td> @x.ShipDate </td>
                    <td> @x.PaymentDate </td>
                    <td> @x.TimeZone </td>
                    <td> @x.TotalPayment </td>
                    <td> @x.Gender </td>
                    <td> @x.Status </td>
                    <td> @x.Type </td>
                    <td> @x.Actions </td>
                </tr>
            }
        </tbody>
    </table>
}

<input type="text" value="@exception" />

<label>@exception</label>
<label>@lines</label>

@code {

    private List<SampleData> sampleData = new List<SampleData>();
    private string lines = string.Empty;
    public string exception = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        lines = File.ReadAllText("wwwroot/sample-data/data.json");
        sampleData = JsonConvert.DeserializeObject<List<SampleData>>(lines);
    }

    public class SampleData
    {
        public string? RecordID { get; set; }
        public string? OrderID { get; set; }
        public string? Country { get; set; }
        public string? ShipCountry { get; set; }
        public string? ShipCity { get; set; }
        public string? ShipName { get; set; }
        public string? ShipAddress { get; set; }
        public string? CompanyEmail { get; set; }
        public string? CompanyAgent { get; set; }
        public string? CompanyName { get; set; }
        public string? Currency { get; set; }
        public string? Notes { get; set; }
        public string? Department { get; set; }
        public string? Website { get; set; }
        public string? Latitude { get; set; }
        public string? Longitude { get; set; }
        public string? ShipDate { get; set; }
        public string? PaymentDate { get; set; }
        public string? TimeZone { get; set; }
        public string? TotalPayment { get; set; }
        public string? Gender { get; set; }
        public string? Status { get; set; }
        public string? Type { get; set; }
        public string? Actions { get; set; }
    }
}





